html, body {
    margin: 0px;
    min-height:100%;
  
}
.w3-padding{
    min-width: 100%;
}

#main {
    min-height:100%;
}

#leftBar{
    background: #d9d9d9;
    width:20%;
    display: table-cell
}
#rightBar{
    background: #d9d9d9;
    width:20%;
    display: table-cell
    
}
/* start left section */


.caption{
    color: #3a7ca8;
    height: 32px;
    display: block;
    line-height: 32px;
    padding: 0 1.1em;
    margin: 15px 0 0 0;
    position:relative;
    top:15px;
    left: 30px;
    font-weight: bold;
}

.sidenav{
    background-color: #343131;
    height: 100%;
    width: 20%;
    position: fixed; /* fixed sidebar */
}

.sidenav a{
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 14px;
    color: #d9d9d9;
    display: table;
}
/* when mouse hovers navigation links, changes color */
.sidenav a:hover {
    background-color: #9e9696;
    min-width: 100%;
}
/* end left section */
/* start center section */
/*
.round {
    border-radius: 50%;
  }*/
#content {
    min-height: 100%;
    display:table-cell;
    background: #f8f9fe;
    text-align: center;
}

#header {
    background: #f8f9fe;
    height:10%;
    position:relative;
    top: 15px;
    text-align: center;
}
#body {
 height:100%;
 text-align: justify;
 margin-left: 3.2em;
 margin-right: 3.2em;
 overflow:hidden;
}
#footer {
 background: #f8f9fe;
 position:relative;
 bottom: 15px;
 text-align: center;
}
/* end center section */
/*  theme change */
hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 3.2em;
    margin-right: 3.2em;
    border-style: inset;
    border-width: 1px;
  } 

