@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

/* sidebar menu */

*{
    font-family: "Josefin Sans", sans-serif;
}

body{
    background: #f8f9fe;
  }

.sidenav{
  height: 100%;
  width: 180px;
  position: fixed; /* fixed sidebar */
  z-index: 1; /* stay at top */
  padding: .4045em 1.618em;
  margin: 12px, 0, 0, 0;
  top: 0;
  left: 0;
  background-color: #343131;
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 20px; 
}

/* vertical side bar header */
.caption{
    color: #3a7ca8;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.1em;
    margin: 12px 0 0 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}

/* navigation menu links */
.sidenav a{ 
    padding: 6px 6px 16px 6px;
    text-decoration: none;
    font-size: 16px;
    color: #d9d9d9;
    display: block;
}

/* when mouse hovers navigation links, changes color */
.sidenav a:hove {
    color: #f1f1f1;
}
/* style header */
.header{
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0;
    color: black;
    margin-left: 180px;
    margin-right: 180px;
}

/* style line for theme change in web page */
hr { 
    margin-left: 180px;
    margin-right: 180px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  } 


/* style page content */
.main {
    margin-left: 180px; /* same as width of the sidebar */
    margin-right: 180px;
    padding: 0px 10px;
}

/* style footer */
.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #3a7ca8;
    margin-left: 180px;
}