/* sidebar menu */

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed; /* fixed sidebar */
    z-index: 1; /* stay at top */
    padding: .4045em 1.618em;
    margin: 12px 0 0 0;
    top: 0;
    left: 0;
    background-color: #343131;
    overflow-x: hidden; /* disable horizontal scroll */
    padding-top: 20px; 
}

/* vertical side bar header */
.caption{
    color: #3a7ca8;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0 1.1em;
    margin: 12px 0 0 0;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 85%;
    white-space: nowrap;
}

/* navigation menu links */

.sidenav a { 
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color:  #d9d9d9;
    display: block;
}

/* when mouse hovers navigation links, changes color */

.sidenav a:hove {
    color: #f1f1f1;
}

/* style page content */

.main {
    margin-left: 160px; /* same as width of the sidebar */
    padding: 0px 10px;
}