body{
    background: #f8f9fe;
  }

#wrapper {
    width: 1024px;
    margin: 0 auto;
}

#left{
    width: 180px;
    float: left;
}

#center{
    width: 664px;
    float: left;
    padding-left: 8px;
}

#right{
    width:180px;
    float: right;
}

